@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Rubik+Wet+Paint&display=swap');

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.navbar {
  /* background-color: #dcf0f1; */
} 
.nav-link {
  font-size: 18px;
   position: relative;
  display: inline-block;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  border-radius: 5px;
  background-color: #087075;
}

.nav-hover::before {
  width: 0%;
  bottom: 10px;
}

.nav-hover:hover::before {
  width: 70%;
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 7px;
  /* background-color: #F5F5F5; */
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #66dce2;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif; 
}
.fs-5{
  text-align: justify;
}
.fs-5 strong{
  color: rgb(51, 49, 49);
}
.button1{
  margin-bottom: 18px;
}
#home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #about{
  margin:150px;
} */
#home a {
  color: rgb(37, 35, 35);
}
#home p {
  font-size: 25px;
}
#home i {
  cursor: pointer;
  transition: 0.5s;
}
#home i:hover {
  color: rgb(146, 146, 0);
}
#scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
#skills i {
  height: 100px;
  width: 100px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills i:hover {
  cursor: pointer;
  transform: scale(1.03);
}
#projects .col-lg-4 {
  padding: 20px;
}
#projects .card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
  color: white;
  text-align: justify;
}
#projects .card-body {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: none;
}
#projects .card:hover .card-body {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}

#education .education {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(46, 223, 193, 0.5);
}
#education .education:hover {
  transform: scale(1.02);
}
.skill-name{
  font-size: 18px;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 4px;
}
.icon-name{
  font-size: 25px;
  
}

@media (max-width: 768px) {
  #home img {
    margin-bottom: 30px;
    width: 200px;
  }
  #home .col-md-8 {
    align-items: center;
    text-align: center;
    padding: 0px;
  }
  #home p {
    width: 100%;
    font-size: 18px;
  }
}
@media (max-width: 370px) {
  #home h1 {
    font-size: 25px;
  }
}
